@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');


:root{
    --color-1: #2b003b;
}

html{
  scroll-behavior: smooth;
}
body{
	font-family:'poppins',sans-serif;
	background-color: #e8eef3;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/*header*/
.header{
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
}

.header .logo,
.header .nav{
	padding:0 15px;
}

.header .logo a{
	font-size: 30px;
	font-weight: bold;
	color: #ff0084;
	text-transform: capitalize;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: #3de1f3;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color:#ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255, 255, 255, 0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
}

.hero {
    background-image: url('main\ gif.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    color: white;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color:#ffffff;
  }
  .hero-content h3{
    font-size: 3.5rem;
    color: #ffffff;
  }
  .hero-content p{
    color: #000000;
  }
  span{
    color: #ff0055;
  }
 
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #fff306;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 16px;
    font-family: "poppins";
    font-weight:600;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:   #2b003b;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .hero-content p {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .mySlides {
    display: none
}
img {
    vertical-align: middle;
}
/* Slideshow container */

.parent{
	width: 100%;
	height: auto;
	background-color: rgb(182, 197, 16);
	padding-top: 50px;
}
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #fff1f1;
  font-size: 140px;
  font-weight: bold;
  position: absolute;
  bottom: 8px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
padding-top: 80px;
  
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 998px) {
  .prev, .next,.text {font-size: 41px}
}
.dot{
 height: 10px;
  width: 10px;
}
@media only screen and (max-width: 768px) {
  .prev, .next,.text {font-size: 18px}
}
.footer {
	background-color: #7c0000;
	color: #fff;
	padding: 40px;
	text-align: center;
	
	bottom: 0;
	width: 100%;
  }
  @media (max-width: 768px) {
	.footer {
	  position: relative;
	}
  }
  @media only screen and (max-width: 768px){
    .hero h1{
      font-size: 60px;
    }
    .hero p {
      font-size: 15px;
    }
  }
 
/* aboutme */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: WHITE;
}

.about-image {
  flex: 1;
  max-width: 400px;
  margin: 20px;
}

.about-text {
  flex: 1;
  max-width: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.about-text h2 {
  color:rgb(56, 0, 84);
  font-size: 60px;
}

.about-text p {
  line-height: 1.6;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.about-buttons {
  display: flex;

}

.about-button {
  background-color: #ff0084;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.about-button:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .about-container {
      flex-direction: column;
      align-items: center;
  }

  .about-image,
  .about-text {
      flex: 1;
      max-width: none;
      margin: 10px;
  }
}
/* projects section */
.wrapper{
  padding: 10px 10%;
}
#card-area{
  padding: 50px 0;
background: linear-gradient(rgb(35, 0, 52),rgb(19, 19, 19));
  padding-bottom: 200px;
}
.box-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 10px;
}
.box {
border-radius: 10px;
position: relative;
overflow: hidden;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.box img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.overlay {
width: 100%;
height: 0;
background: linear-gradient(transparent,#ff0084 58%);
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
font-size: 14px;
transition: height 0.5s;
}
.overlay h3 {
font-weight: 700;
margin-bottom: 5px;
margin-top: 80%;
font-family: 'Bebas Neue', sans-serif;
font-size: 30px;
letter-spacing: 2px;
color: white;
}
.overlay a {
margin-top: 10px;
color: #ff0084;
text-decoration: none;
font-size: 14px;
background: #fff;
border-radius: 50px;
text-align: center;
padding: 5px 15px;
}
.overlay p{
  color: white;
}
.box:hover img{
  transform: scale(1.1);
}
.box:hover .overlay{
  height: 100%;
}
/* contact */
#section-wrapper{
  width: 100%;
  padding: 10px;
  padding-bottom: 50px;
  background-color: pink;
}
.box-wrapper{
  position: relative;
  display: table;
  width:1100px;
  margin:auto;
  margin-top:35px;
  border-radius: 30px;
}
.info-wrap{
  width:35%;
  height: 551px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgb(32, 0, 42) 49%);
  color: #fff;
}
.info-title{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.info-sub-title{
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.info-details {
  list-style: none;
  margin: 60px 0px;
}
.info-details li {
  margin-top: 25px;
  font-size: 16px;
  color: #fff;
}
.info-details li i {
  background: #F44770;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
.info-details li a {
  color: #fff;
  text-decoration: none;
}
.info-details li a:hover {
  color: #F44770;
}
.social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  background: #F44770;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap{
  width:65%;
  float: right;
  padding:40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}
.form-title{
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color:#555;
  padding: 20px 10px 20px 5px;
  width:100%
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button{
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #F44770;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: #31279d;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
  .box-wrapper{
      width: 100%;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 30px 30px 0px 0px;
  }
  .form-wrap{
      border-radius: 0px 0px 30px 30px;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 10px 0px;
  }
 
}
.my{
padding-top: 50px;
 color:  #ff0084;
 font-size: 1.8rem;
 background-color: rgb(35, 0, 52);
}
.my p{
  font-size: 15px;
  color: white;
}
/* footer */
.main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 60vh;
  background: #fff;
}
.bird{
  background-color: white;
  width: 30%;

}
.wid{
  width: 100%;
  background-color: white;
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
  list-style: none;}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {

  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}


footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff url(wave1.png);
  background-size: 1000px 100px;

}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animatewave 3s linear infinite;
}


@keyframes animatewave {
  0% {
      background-position-x: 0px;
  }

  100% {
      background-position-x: 1000px;
  }

}


.zoom li a {
  transition: 1s;
}

.zoom li a:hover {
  transform: scale(1.1);
}